<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Filmes</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1>EDITAR FILME</h1>
    <form action="/movies/edit/<%= movie.id %>?_method=PUT" method="POST">
        <label for="title">Título</label>
        <input type="text" name="title" id="title" value="<%= movie.title %>">
        <label for="rating">Rating</label>
        <input type="number" name="rating" id="rating" value="<%= movie.rating %>">
        <label for="awards">Prêmios</label>
        <input type="number" name="awards" id="awards" value="<%= movie.awards %>">
        <label for="release_date">Data de Lançamento</label>
        <input type="date" name="release_date" id="release_date" value="<%= movie.release_date %>">
        <label for="length">Duração</label>
        <input type="number" name="length" id="length" value="<%= movie.length %>">
       
        <button type="submit">Editar</button>
    </form>
</body>

</html>
